@import '~@redhat-cloud-services/frontend-components-utilities/styles/_all';

section {
    outline: none;
}

// Client tab
.ins-c-install-client-tab {
    .pf-v5-c-tab-content {
        padding-top: var(--pf-global--spacer--lg);
    }
}

// Downloads tab
.ins-c-install-ansible-tab__downloads {
    .pf-l-gallery {
        --pf-l-gallery--GridTemplateColumns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

// Download link
.ins-c-install-ansible-tab__download {
    display: inline-block;
    padding-bottom: var(--pf-global--spacer--xl);
    text-decoration: none;
    text-align: center;
}

// Download link icon
.ins-c-install-ansible-tab__download-icon {
    margin: var(--pf-global--spacer--xl) 0 var(--pf-global--spacer--lg) 0;
    color: var(--pf-global--Color--100);

    .outer-icon {
        position: relative;
        @include rem('left', 10px);
    }

    .inner-icon {
        position: relative;
        @include rem('left', -28px);
        @include rem('top', -6px);
    }
}

// Download link description
.ins-c-install-ansible-tab__download_desc {
    width: 65%;
    margin: 0 auto;
}

// Accordion content body
.ins-c-registration-assistant-form .pf-v5-c-accordion__expanded-content-body {
    padding: var(--pf-global--spacer--md) var(--pf-global--spacer--xl) var(--pf-global--spacer--md) var(--pf-global--spacer--xl);
}
