.learnMore {
    margin-left: var(--pf-global--spacer--sm);
}

pre {
    background-color: var(--pf-global--BackgroundColor--100);
    border-radius: var(--pf-global--BorderRadius--sm);
    padding: var(--pf-global--spacer--md);
}

.ins-c-gray {
    background-color: var(--pf-global--BackgroundColor--light-300);
}
