.ins-c-main-split {
    overflow: visible;
    .ins-c-left {
        width: 60%;
        background-color: var(--pf-global--BackgroundColor--100);
        .pf-l-stack {
            padding: var(--pf-global--gutter--md);
        }
    }
    .ins-c-right {
        width: 40%;

        .pf-l-stack {
            padding: var(--pf-global--gutter--md) var(--pf-global--gutter--md) 0 0;
        }
    }
}

.pf-c-divider {
    margin: var(--pf-global--spacer--xl) 0;
}
