.ins-c-main-split {
    height: 100%;
    .ins-c-left {
        width: 50%;
        background-color: var(--pf-global--BackgroundColor--100);
        .pf-l-stack {
            padding: var(--pf-global--gutter);
        }
    }
    .ins-c-right {
        width: 50%;

        .pf-l-stack {
            padding: var(--pf-global--gutter) var(--pf-global--gutter) 0 0;
        }
    }
}

.pf-c-divider {
    margin: var(--pf-global--spacer--xl) 0;
}
