.ins-c-main-split {
    height: 100%;
    .ins-c-left {
        width: 60%;
        overflow-y: scroll;
        background-color: var(--pf-global--BackgroundColor--100);
        .pf-l-stack {
            padding: var(--pf-global--gutter--md);
        }
    }
    .ins-c-right {
        width: 40%;
        overflow-y: scroll;

        .pf-l-stack {
            padding: var(--pf-global--gutter--md) var(--pf-global--gutter--md) 0 0;
        }

        pre {
            background-color: var(--pf-global--BackgroundColor--light-100);
        }
    }
}

.pf-c-divider {
    margin: var(--pf-global--spacer--xl) 0;
}
