// Importing Global Variables

@import "~@patternfly/patternfly/sass-utilities/_all";
@import "~@redhat-cloud-services/frontend-components-utilities/styles/_all";

// Base
.ins-c-registration-assistant {
    height: 86vh;
    .pf-v5-c-clipboard-copy {
        padding-bottom: var(--pf-global--spacer--md);
    }
    .pf-v5-c-form-control[readonly] {
        background-color: var(--pf-global--palette--black-150);
    }
}

// Step title
.pf-v5-c-title.ins-c-step-title,
.pf-v5-c-content .pf-v5-c-title.ins-c-step-title {
    margin-bottom: var(--pf-global--spacer--md);
    font-weight: var(--pf-global--FontWeight--semi-bold);
}

// Content title
.pf-v5-c-title.ins-c-content-title,
.ins-c-content-title {
    font-family: var(--pf-global--FontFamily--sans-serif);
    font-size: var(--pf-global--FontSize--lg);

    .pf-v5-c-drawer__panel & {
        margin-bottom: var(--pf-global--spacer--md);
    }

    &.ins-m-font-light {
        font-weight: var(--pf-global--FontWeight--light);
    }

    &.ins-m-font-normal {
        font-weight: var(--pf-global--FontWeight--normal);
    }

    &.ins-m-font-semi-bold {
        font-weight: var(--pf-global--FontWeight--semi-bold);
    }

    &.ins-m-font-bold {
        font-weight: var(--pf-global--FontWeight--bold);
    }  
}

.pf-v5-c-drawer__body {
        max-width: 900px;
    }

// Title group
.ins-c-title-group {
    display: grid;
    grid-gap: var(--pf-global--spacer--sm);
    grid-template-columns: 2rem auto;
    align-items: center;

    .pf-v5-c-title,
    .ins-c-title {
        display: inline;
        font-family: var(--pf-global--FontFamily--sans-serif);
        font-size: var(--pf-global--FontSize--sm);
        font-weight: var(--pf-global--FontWeight--semi-bold);
    }

    .ins-c-icon {
        margin-right: var(--pf-global--spacer--sm);
    }
}

// Helper text
.pf-v5-c-form__helper-text {
    span {
        display: block;
        max-width: 500px;
    }

    // use this modifier when helper text appears as a sibling of .pf-v5-c-form__group instead of a child
    &.ins-m-conditional-helper {
        --pf-v5-c-content--MarginBottom: 0;

        margin-top: calc((var(--pf-v5-c-form--GridGap) * -1) + var(--pf-v5-c-form__helper-text--MarginTop));
    }

    &.ins-m-light {
        --pf-v5-c-form__helper-text--Color: var(--pf-global--secondary-color--100);
    }
}

// Learn more link
.ins-c-learn-more {
    font-size: var(--pf-global--FontSize--sm);
    white-space: nowrap;

    p & {
        margin-left: var(--pf-global--spacer--sm);
    }
}

// Dashboard link
.ins-c-dashboard-link {
    margin: var(--pf-global--spacer--xl) 0;
}

// Drawer panel
.pf-v5-c-drawer__panel {
    &.ins-m-light-300 {
        background-color: var(--pf-global--BackgroundColor--light-300);
    }
}

// Overflow wrapper
.ins-c-overflow-content {
    @media screen and (min-width: $pf-v5-global--breakpoint--md) {
        max-height: 100%;
    }
}
