// Importing Global Variables
@import "~@redhat-cloud-services/frontend-components-utilities/files/Utilities/_all";
@import "~@redhat-cloud-services/frontend-components/index.css";

.ins-c-icon {
    margin-right: var(--pf-global--spacer--sm);
}

pre {
    background-color: var(--pf-global--BackgroundColor--light-300);
    border-radius: var(--pf-global--BorderRadius--sm);
    padding: var(--pf-global--spacer--md);
    font-size: small;
    overflow: scroll;
}